@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}
html,
body {
  padding: 20px;
  font-family: var(--font-nunito);
}
a {
  font-weight: 300;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
p {
  font-size: 16px;
  font-weight: 300;
}
.footer {
  width: 100%;
  border: 1px solid red;
  color: white;
  background-color: #001427;
  padding: 50px 20px;
}
.link_word {
  font-weight: 100;
  font-size: 16px;
  color: white;
}
